.primary {
  border: 1px rgb(44,62,80);
  border-left: 5px rgb(44,62,80);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(44,62,80, 0.1);
}

.syllabus {
  border: 1px rgb(89,49,150);
  border-left: 5px rgb(89,49,150);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(89,49,150, 0.1);
}

.definition {
  border: 1px rgb(52,152,219);
  border-left: 5px rgb(52,152,219);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(52,152,219, 0.1);
}

.example {
  border: 1px rgb(24,188,156);
  border-left: 5px rgb(24,188,156);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(24,188,156, 0.1);
}

.solution {
  border: 1px rgb(24,188,156);
  border-left: 5px rgb(24,188,156);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(24,188,156, 0.1);
}

.important {
  border: 1px rgb(231,76,60);
  border-left: 5px rgb(231,76,60);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(231,76,60, 0.1);
}

.extension {
  border: 1px rgb(115,57,7);
  border-left: 5px rgb(115,57,7);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(115,57,7, 0.1);
}

.note {
  border: 1px rgb(243,156,18);
  border-left: 5px rgb(243,156,18);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}

.law {
  border: 1px rgb(52,152,219);
  border-left: 5px rgb(52,152,219);
  border-top: 5px rgb(52,152,219);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}

.theorem {
  border: 1px rgb(24,188,156);
  border-left: 5px rgb(24,188,156);
  border-top: 5px rgb(24,188,156);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}

.result {
  border: 1px rgb(231,76,60);
  border-left: 5px rgb(231,76,60);
  border-top: 5px rgb(231,76,60);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}

.proof {
  border: 1px rgb(231,76,60);
  border-left: 5px rgb(231,76,60);
  border-top: 3px rgb(231,76,60);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}

.formula {
  border: 1px rgb(231,76,60);
  border-left: 5px rgb(231,76,60);;
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(243,156,18, 0.1);
}


#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
    font-family: 'casio';
    src: URL('./ES03.TTF') format('truetype');
}