.syllabus {
  border: 1px rgb(179,64,215);
  border-left: 5px rgb(179,64,215);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(179,64,215, 0.1);
}

.definition {
  border: 1px rgb(58,134,255);
  border-left: 5px rgb(58,134,255);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(58,134,255, 0.1);
}

.rule {
  border: 1px rgb(239, 183, 62);
  border-left: 5px rgb(239, 183, 62);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(239, 183, 62, 0.1);
}

.example {
  border: 1px rgb(11,191,125);
  border-left: 5px rgb(11,191,125);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(11,191,125, 0.1);
}

.solution {
  border: 1px rgb(11,191,125);
  border-left: 5px rgb(11,191,125);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(11,191,125, 0.1);
}

.important {
  border: 1px rgb(255,0,110);
  border-left: 5px rgb(255,0,110);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,0,110, 0.1);
}

.extension {
  border: 1px rgb(115,57,7);
  border-left: 5px rgb(115,57,7);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(115,57,7, 0.1);
}

.note {
  border: 1px rgb(255,190,11);
  border-left: 5px rgb(255,190,11);
  border-style: hidden;
  border-left-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,190,11, 0.1);
}

.law {
  border: 1px rgb(58,134,255);
  border-left: 5px rgb(58,134,255);
  border-top: 5px rgb(58,134,255);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,190,11, 0.1);
}

.theorem {
  border: 1px rgb(11,191,125);
  border-left: 5px rgb(11,191,125);
  border-top: 5px rgb(11,191,125);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,190,11, 0.1);
}

.result {
  border: 1px rgb(255,0,110);
  border-left: 5px rgb(255,0,110);
  border-top: 5px rgb(255,0,110);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,190,11, 0.1);
}

.proof {
  border: 1px rgb(255,0,110);
  border-left: 5px rgb(255,0,110);
  border-top: 3px rgb(255,0,110);
  border-style: hidden;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: 6px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 10px;
  background: rgba(255,190,11, 0.1);
}


#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}
